.customer-and-recipient-info {
    margin-top: 4px;
    font-size: 16px;
    color: #666;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.dic {
    width: 60%;
    text-align: left;
}

.textbox-evid-cislo-and-var-symbol {
    margin-top: -12px;
}

.textbox-without-label {
    margin-top: -18px;
}

.textbox-cislo-dokladu .dx-texteditor-input {
    background-color: darkcyan;
}
