.dx-field-item-label-content {
    padding-left: 0;
}

.dx-field-item-label-text,
label {
    font-size: 11px;
    color: darkcyan;
}

label {
    position: relative;
    left: 13px;
}

.textbox-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-input-field {
    width: 85px;
}
